@model Author
@{
    Layout = null;
}


<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">@Model.FullName</h5>
     <form asp-action="delete" method="post" >
            <button type="submit" class="btn btn-danger">Delete</button>
            <input type="text" hidden name="Id" value="@Model.Id"/>
            <button asp-action="index" class="btn btn-info">Go Back</button>
     </form>
        
    </div>
</div>



