@model List<Author> 
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<a class="btn btn-info">Create</a>

<table class="table table-hover">
   
         
    
  
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">BookCount</th>
            <th scope="col">Actions</th>
           
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {
            count++;
            <tr>
            <th scope="row">@count</th>
            <td>@item.FullName</td>
            <td>@item.Books.Count</td>
                <td>
                    <a class="btn btn-info">Edit</a>  
                    <a class="btn btn-danger">Delete</a>
                </td>

        </tr>
        }
        
     
    </tbody>


</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

